/* styles/custom.css */
body {
  font-family: Nunito, sans-serif;
  margin: 0;
  background-color: #fff;
}

.test {
  background: #000;
}

::-webkit-scrollbar {
  width: .4em;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
  display: none;
}



.css-1vrr3d1-MuiGrid-root > .MuiGrid-item {
  padding-left: 0 !important;
}

.css-y9sd33-MuiGrid-root > .MuiGrid-item {
  padding-top: 0 !important;
}

/* Default height for larger screens */
.swiper-image {
  height: calc(100vh - 130px);  /* For larger screens (desktop) */
  width: 100%;
  object-fit: cover;
}

/* Smaller screens (sm, xs) */
@media (max-width: 768px) {
  .swiper-image {
    height: calc(100vh - 240px); /* Adjust for smaller screens */
  }

  #CanvasId3D canvas {
    width: 100vw !important; /* No need for calc(100vw - 0px) */
    height: calc(100vh - 100px) !important; /* Maintain height adjustment */
  }
}

@media (max-width: 480px) {
  .swiper-image {
    height: calc(100vh - 240px); /* Consistent height for mobile */
  }

  #CanvasId3D canvas {
    width: 100vw !important; /* No need for calc(100vw - 0px) */
    height: calc(100vh - 244px) !important; /* Maintain height adjustment */
  }
}



.error {
  color: red;
  font-size: smaller;
}

#CanvasId3D{
  margin-bottom: 3px;
}


