body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #fff;
}

.test {
  background: #000;
}

/* Scrollbar styles */
*::-webkit-scrollbar {
  width: 0.4em;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

.carousel .thumbs-wrapper {
  margin: 0 !important;
  overflow: hidden;
}


/* .css-yvl1dx-MuiGrid-root{
    margin-left: 0 !important;
    padding-bottom: "5px";
  } */

/* .css-1aipayh-MuiGrid-root>.MuiGrid-item{
    padding-left: 7px !important;
  } */

.css-1vrr3d1-MuiGrid-root>.MuiGrid-item {
  padding-left: 0 !important;
}

.css-y9sd33-MuiGrid-root>.MuiGrid-item {
  padding-top: 0 !important;
}

/* .css-hvg0pp-MuiFormControl-root-MuiTextField-root {
  width: 100%;
} */
/* 
.css-1wx31yz-MuiCardContent-root:last-child {
  padding-bottom: 0px !important;
} */

/* .css-8mg5ge:last-child {
  padding-bottom: 0px !important;
} */

.carousel .thumb {
  width: 120px !important; /* Change width as needed */
  height: auto; /* Ensure the aspect ratio is maintained */
}

.error{
  color: red;
  font-size: smaller;
}